<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header-item">
            <p>Year</p>
            <p>Quoter</p>
            <p>Filename</p>
            <p>Action</p>
        </div>
        <div class="item">
            <p>2022</p>
            <p>II</p>
            <p>hasvetvutyun-2022-2.pdf</p>
            <div class="button-group">
                <button><i class="far fa-edit"></i></button>
                <button><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
        <div class="item">
            <p>2022</p>
            <p>III</p>
            <p>hasvetvutyun-2022-3.pdf</p>
            <div class="button-group">
                <button><i class="far fa-edit"></i></button>
                <button><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
    <button class="add-button fas fa-plus"></button>
</body>
</html>