<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Document</title>
</head>
<body>
    <div class="header-item">
        <p>Name</p>
        <p>Price</p>
        <p>Enclusions</p>
        <p>Action</p>
    </div>
    <div class="item">
        <p>HG 5000</p>
        <p>5000</p>
        <p>internet20, tv137</p>
        <div class="button-group">
            <button><i class="far fa-edit"></i></button>
            <button><i class="far fa-trash-alt"></i></button>
        </div>
    </div>
    <div class="item">
        <p>HG 7500</p>
        <p>7500</p>
        <p>internet50, tv156</p>
        <div class="button-group">
            <button><i class="far fa-edit"></i></button>
            <button><i class="far fa-trash-alt"></i></button>
        </div>
    </div>
    <button class="add-button fas fa-plus"></button>
</body>
</html>