body{
    min-height: 120vh;
}
* {
    margin:0;
    padding:0;
}
  
.button-group button {
    background:none;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 3px 3.6px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.header-item {
    background-color: rgba(70, 100, 255, 0.4);
    padding: 0
}
  
.item {
    border-top: 1px dashed;
}
  
.header-item, .item{
    padding: 0;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    justify-items:center;
}
  
.header-item > *, .item > * {
    padding:0.9%;
    text-align:center;
    flex: 0 0 23%;
}
  
.header-item > *:not(:last-child), .item > *:not(:last-child){
    border-right:1px dashed;
}

.add-button {
    background-color: rgba(70, 100, 255, 0.6);
    border-radius: 60px;
    border-width: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 8px 9.6px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: fixed;
    left: 95%;
    top:90%;
}

/* header styling starts here */

*{
    margin:0;
    padding:0;
}
 
.submenu, .second-submenu {
    display: none;
    flex-direction: column;
    position: absolute;
}
  
.second-submenu{
    left:100%;
    top:0;
}
  
li {
    position: relative;
}
  
li:hover > .submenu, li:hover > .second-submenu {
    display: flex;
}
  
ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}
  
a {
    display: block;
    color: #333333;
    text-decoration: none;
    background-color: #cccccc;
    padding: 1em;
    white-space: nowrap;
}
  
a:hover {
    background-color: #a0a0a0;
}
  
a:focus {
    outline: none;
    background-color: #a0a0a0; 
}
  
.header {
    display: flex;
    justify-content: space-between;
    background-color: #cccccc
}

/* header styling ends here */
  